[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "~=0.18.0"
better-profanity = "~=0.7.0"
"discord.py" = {extras = ["speed"], version = "~=2.2.2"}
pillow = "~=9.5.0"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.11"
