[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "~=9.5.0"
pytz = "~=2023.3"
aiosqlite = "~=0.18.0"
better-profanity = "~=0.7.0"
"discord.py" = {extras = ["speedup"], version = "~=2.2.2"}

[dev-packages]

[requires]
python_version = "3.11"
